[user]
	email = gilforsyth@gmail.com
	name = Gil Forsyth
[core]
	safecrlf = false
	autocrlf = input
[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	status = status -uno
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
[credential]
	helper = cache --timeout=3600
[diff]
	tool = vimdiff
[difftool]
	prompt = false
# for $deity's sake, check that anything we're getting is complete and sane on a regular basis
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckObjects = true 
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
