[user]
	email = gilforsyth@gmail.com
	name = Gil Forsyth
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
	tool = vimdiff
[push]
	default = matching
