Xcursor.theme: /usr/share/icons/OpenZone_Black_Slim 
Xcursor.size: 22
urxvt*foreground: white
URxvt.font: xft:Inconsolata:size=12
urxvt*background: black
URxvt*termName: rxvt

dzen2.font:       xft:monaco:size=10 
dzen2.foreground: white
dzen2.background: black

!matcher:clickable URLs
!font-size: change fontsize on the fly
!selection-to-clipboard: link urxvt to regular clipboard
!tabbedex: enable tabs
URxvt.perl-ext-common: default,matcher,font-size,selection-to-clipboard
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!Key bindings for font size change
URxvt.keysym.C-Up:  perl:font-size:increase
URxvt.keysym.C-Down:  perl:font-size:decrease
URxvt.keysym.C-S-Up:  perl:font-size:incglobal
URxvt.keysym.C-S-Down:  perl:font-size:decglobal

!Disable default binding for Ctrl+Shift bindings to work
URxvt.iso14755: false
URxvt.iso14755_52: false

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
